---
import "../../styles/global.css";
import Card from "../Card.astro";
const allPosts = await Astro.glob("../../pages/posts/*.md");

allPosts.sort((a, b) => {
  const dateA = new Date(a.frontmatter.date);
  const dateB = new Date(b.frontmatter.date);
  return dateA.getTime() - dateB.getTime();
});

const recentPosts = allPosts.slice(allPosts.length - 3);

const ejercicioPosts = allPosts.filter(
  (post) => post.frontmatter.category === "Ejercicio"
);
const nutricionPosts = allPosts.filter(
  (post) => post.frontmatter.category === "Nutrición"
);
const saludPosts = allPosts.filter(
  (post) => post.frontmatter.category === "Salud"
);
---

<section id="blog" class="section flex flex-col items-center justify-center">
  <h2 class="highlight">Posts recientes</h2>
  <section class="posts">
    {
      recentPosts.map((post) => (
        <Card key={post.frontmatter.slug} post={post} />
      ))
    }
  </section>
  <h2>Sobre <span class="highlight">Ejercicio</span></h2>
  <section class="posts">
    {
      ejercicioPosts.map((post) => (
        <Card key={post.frontmatter.slug} post={post} />
      ))
    }
  </section>
  <h2>Sobre <span class="highlight">Nutrición</span></h2>
  <section class="posts">
    {
      nutricionPosts.map((post) => (
        <Card key={post.frontmatter.slug} post={post} />
      ))
    }
  </section>
  <h2>Sobre <span class="highlight">Salud</span></h2>
  <section class="posts">
    {saludPosts.map((post) => <Card key={post.frontmatter.slug} post={post} />)}
  </section>
</section>

<style>
  h2 {
    font-size: 2rem;
    margin: 3rem 0;
  }
  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    place-content: center;
  }
  @media (width<=1400px) {
    .posts {
    }
  }
  @media (width<=1200px) {
    .posts {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (width<=800px) {
    .posts {
      grid-template-columns: 1fr;
    }
  }
</style>
