---
import "../styles/global.css";
import "../styles/post.css";
const { frontmatter } = Astro.props;
import { Image } from "astro:assets";
import Layout from "./Layout.astro";
const { title, description, date, author, image } = frontmatter;
const postDate = new Date(date);
---

<Layout {title}>
  <section class="post-content">
    <header class="post-header">
      <h1 class="title">{title}</h1>
      <p class="header-description">
        por <a href={`/author/${author}`}>{author}</a> · {
          postDate.toLocaleDateString("es-ES", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </p>
    </header>
    <div>
      <p class="post-description postSubtitle text-center">{description}</p>
    </div>
    <div class="post-image">
      <Image src={image} alt="Imagen del post" width="800" height="400" />
    </div>
    <article class="content">
      <slot />
    </article>
  </section>
</Layout>

<style>
  .post-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .post-header {
    background-color: #261183;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .title {
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: 0.5rem;
  }

  .header-description {
    font-size: 1rem;
    color: #f0f0f0;
  }

  .post-image {
    margin-bottom: 1.5rem;
  }

  .post-image img {
    margin: 1.5rem 0;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .post-description {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .content {
    margin-top: 2rem;
    line-height: 1.6;
  }
</style>
