---
import "../styles/global.css";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;

const { title, description, date, author, image } = frontmatter;
---

<Layout {title}>
  <section class="post-content">
    <h1 class="highlight">{title}</h1>
    <p>by <a href={`/author/${author}`}>{author}</a> · {date}</p>
    <div class="content">
      <slot />
    </div>
    <aside class="sidebar"></aside>
  </section>
</Layout>
