---
import "../styles/global.css";
const { frontmatter } = Astro.props;
import { Image } from "astro:assets";
import Layout from "./Layout.astro";
const { title, description, date, author, image } = frontmatter;
const postDate = new Date(date);
---

<Layout {title}>
  <section class="post-content">
    <header
      class="post-header w-full flex flex-col items-center justify-center"
    >
      <h1 class="">{title}</h1>
      <p>
        by <a href={`/author/${author}`}>{author}</a> · {
          postDate.toLocaleDateString("es-ES", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </p>
    </header>
    <p>{description}</p>
    <Image src={image} alt="Imagen ejemplo" width="300" height="500" />

    <div class="content">
      <slot />
    </div>
    <aside class="sidebar"></aside>
  </section>
</Layout>
<style>
  .post-header {
    background-color: #5908cb;
    border-radius: 1rem;
    padding: 3rem;
  }
  .post-header h1 {
    font-size: 3rem;
    text-align: center;
  }
</style>
